<%- include("partials/header") -%>

<!-- <div id="loadOverlay" style="background-color:#333; position:sticky; top:0px; left:0px; width:100%; height:100vh; z-index:2000;">
</div> -->
<div class="site-wrapper admin-article-page">

  <header class="on-load admin-header">
    <a name=#top></a>
    <img class="header-logo" src="/public/images/homepage/the_writing_doctor_logo.jpg" alt="The Writing Doctor Logo" loading="lazy" style="max-width: 100px;">
    <%- include("partials/nav-bar") -%>
    <h1 class="admin-title">BLOG ADMIN PAGE</h1>
  </header>

<main>
  <div class="article-container admin-articles-container">
    <div class="article-edit-container">

      <form class="delete-button" action="/delete" method="post">
        <button type="submit" name="delete" value=<%= articleId %>>DELETE</button>
      </form>

       <form class="input-form" action="/update" method="post">
         <label for="blob-title" value="" >Title</label>
         <input type="input" id="article-title" class="form-control" name="articleTitle" value="<%= title %>">
         <label for="article-date" value="" >Published Date</label>
         <input type="input" id="article-date" class="form-control" name="articleDate" value="<%= date %>">
         <label for="article-image" value="" >Image file Name - Use full name with file extension type</label>
         <input type="input" id="article-image" class="form-control" name="articleImage" value="<%= imageLink %>">
         <label for="article-image-alt" value="" >Image Description - This improves SEO</label>
         <input type="input" id="article-image-alt" class="form-control" name="articleImageAlt" value="<%= altImage %>">
         <label for="content" value="" >Article Body - to be written in Markdown format</label>
         <textarea id="content" name="articleContent" rows="6" ><%- content %></textarea>
         <div class="submit-container">
           <button type="submit" name="update" value=<%= articleId %>>Update Article</button>
           <div class="make-headline-container">
             <label for="make-headline">Make Headline</label>
             <input type="checkbox" id="make-headline" name="makeHeadline" value="">
           </div>
         </div>
       </form>

     </div>

   <div class="article-page-container">
     <div class="article-page-inner">
       <div class="article">
          <div class="article-image">
              <img class="" src= <%= `/public/images/articles/${imageLink}` %> alt=<%= altImage %>>
          </div>
          <div class="article-info">
            <h2><%= articleId %></h2>
            <h2> <%= title %> </h2>
            <h3> <%= date %> </h3>
          </div>
          <div class="article-content">
            <p> <%- markedContent %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

</div>
<%- include("partials/footer") -%>

</body>
<script type="module" src="/public/hide-header.js"></script>
</html>
