<% for (let i = startingBlogArrayPostion; i >= endingBlogArrayPosition; i--) {%>
 <div class="blog-container">
   <a href=<%= `${href}${blogArray[i].href}` %>>
     <div class="blog">
         <div class="blog-image">
           <img class="" src=<%= blogArray[i].image %> alt=<%= blogArray[i].imageAlt %>>
         </div>
         <div class="blog-info">
           <h2> <%= blogArray[i].title %> </h2>
           <h3> <%= blogArray[i].date %> </h3>
         </div>
     </div>
   </a>
 </div>
<% } %>
