<%- include("partials/header") -%>

<%# <div id="loadOverlay" style="background-color:#333; position:sticky; top:0px; left:0px; width:100%; height:100vh; z-index:2000;">
</div> %>
<div class="site-wrapper">
    <header class="on-load">
      <a name=#top></a>
      <img class="header-logo" src="/public/images/homepage/the_writing_doctor_logo.jpg" alt="The Writing Doctor Logo" loading="lazy" style="max-width: 100px;">
      <%- include("partials/nav-bar") -%>
    </header>

  <main>
    <div class="blogs-container">
      <div class="blogs-hero-title">
        <h1>KEEP YOUR FINGER ON THE PULSE<span class="highlight-green">.</span> </h1>
      </div>

      <div class="headline-blog">
        <a href=<%= `${href}${blogArray[0].href}` %>>
          <div class="blog-info-headline">
            <div class="blog-info-headline-inner">
              <div class="blog-title-headline">
                <h2><%=blogArray[0].title%></h2>
              </div>
              <div class="blog-date-headline">
                <h3 class="blog-date"><%=blogArray[0].date%></h3>
              </div>
            </div>
          </div>
        </a>
        <a href=<%= `${href}${blogArray[0].href}` %>>
          <div class="blog-image-headline">
              <img class="" src=<%=`/public/images/blogs/${blogArray[0].image}`%> alt=<%= blogArray[0].imageAlt %>">
          </div>
        </a>
      </div>

      <div class="blogs-container-inner">
        <div>
            <div class="blog-grid">
              <%- include("blogs-loop")-%>
            </div>
        </div>
      </div>
      <div class="load-more">
        <button type="button" name="button" >Load more</button>
      </div>
      <div class="other-writing">
        <h1>FOLLOW MY OTHER WRITING</h1>
        <div class="logo-section">
          <div class="brands">
            <img src="/public/images/blogs/featherless_biped_final.png" alt="Beard Sorcery Logo" loading="lazy">
            <img src="/public/images/blogs/big_picture_logo.png" alt="Beard Sorcery Logo">
            <img src="/public/images/blogs/dark_continent_gold.png" alt="Beard Sorcery Logo">
          </div>

          </div>
        </div>
      <!-- <div class="signup-container">
        <%- include("partials/signup") -%>
        <div class="book container">
          <div class="book-inner">
            <h2 class="book-today">Book <br> Today</h2>
            <img src="/public/images/homepage/book.png" alt="Book Picture">
          </div>
        </div>
      </div> -->
      </div>
    </main>

    <%- include("partials/footer") -%>

  </body>
  <script type="text/javascript" src="public/script.js"></script>
  <script type="module" src="/public/hide-header.js"></script>
  </html>
